page-issue-stage-report {

    .text-input-md{margin:0;}
	ion-label{
		font-size: 90%;
	}
	div.scrollmenu {
		overflow: auto;
	  }
	  .button-md {
		background: linear-gradient(90deg, rgb(171, 197, 252) 0%, rgb(208, 232, 248) 35%, rgb(139, 179, 252) 100%);
		font-weight: 500;
		font-size: 1.6rem;
	}
	  .mat-header-row {
		//background: rgb(250, 168, 250);
		background:linear-gradient(90deg, rgb(255, 230, 223) 0%, rgb(219, 254, 255) 35%, rgb(253, 253, 215) 100%);
		position: sticky;
		position: -webkit-sticky;
		top: 0;
	}
	.col{
		position: initial;
	}
	.row-link:hover {
		background-color: rgb(226, 245, 230);
		cursor: pointer;
	  }
	  .mat-row{
		background:rgba(235, 232, 229, 0.253);
	  }
	  div.scrollmenu {
		display: inline-block;
		color: black;
		text-align: left;
		padding: 14px;
		text-decoration: none;
		font-size:1.2rem;
	  }
}
