page-pendency-stage {
    .mat-header-row {
		//background: rgb(250, 168, 250);
		background:linear-gradient(90deg, rgb(255, 230, 223) 0%, rgb(219, 255, 237) 35%, rgb(253, 253, 215) 100%);;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
	}
}
