<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: white;height:95%;margin-left:-0.8%;">
<ion-row *ngIf="!isExt">
<ion-col  col-4>
  <ion-card >
    <button  class="ionHeader"   [ngClass]="{'green' : q_unassign}" (click)="unassignedTicket('list','applist')">
    <ion-row style="text-align: center;background: #aae1f7;margin:0; margin-top:0;height:100px;">
      <ion-col>
          <ion-icon name="book" style="font-size: 10.0rem;color:rgb(82, 99, 105);line-height: 0.7;padding-top:10px;
          color:#609ffd;margin:0; margin-top:0;
          text-shadow: -1.1px 0 rgb(22, 21, 21), 0 1.1px rgb(41, 36, 61),1.1px 0 rgb(44, 21, 21), 0 -1.1px rgb(32, 1, 31);
       "></ion-icon>

          </ion-col>
      </ion-row>
      <ion-row style="text-align: center;height:120px;">
        <!-- <button  class="ionHeader"   [ngClass]="{'green' : q_unassign}" (click)="unassignedTicket('list','applist')"> -->
          <ion-col>
            <p style="font-size: 1.5rem;font-weight:500;">Open Tickets</p>
            <p style="font-size: 1.9rem;font-weight:600;">{{q_unassigned}}</p>
            <ion-spinner name="bubbles" [hidden]="q_unassignedhide"></ion-spinner>
          </ion-col>
        <!-- </button> -->
      </ion-row>
    </button>
  </ion-card>
</ion-col>
<ion-col col-4>
<ion-card text wrap>
  <button  class="ionHeader"   [ngClass]="{'green' : a_assigned}" (click)="myOverdue('list','applist')">
    <ion-row style="text-align: center;background: #b5f8e7e1;margin:0; margin-top:0;height:100px;">
        <ion-col>
          <ion-icon name="archive" style="font-size: 9.0rem;color:rgb(82, 99, 105);line-height: 0.7;padding-top:15px;
          color:#609ffd;margin:0; margin-top:0;
          text-shadow: -1.1px 0 rgb(22, 21, 21), 0 1.1px rgb(41, 36, 61),1.1px 0 rgb(44, 21, 21), 0 -1.1px rgb(32, 1, 31);
       ">
              </ion-icon>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;height:120px;">
          <!-- <button  class="ionHeader"   [ngClass]="{'green' : a_assigned}" (click)="myOverdue('list','applist')"> -->
            <ion-col>
              <p style="font-size: 1.5rem;font-weight:500;">Tickets overdue (assigned to me)</p>
              <p style="font-size: 1.9rem;font-weight:600;">{{assigned_tkts_overdue}}</p>
              <ion-spinner name="bubbles" [hidden]="assigned_tkts_overduehide"></ion-spinner>
            </ion-col>
          <!-- </button> -->
        </ion-row>
      </button>
</ion-card>
</ion-col>
<ion-col  col-4>
<ion-card>
  <button  class="ionHeader"   [ngClass]="{'green' : q_group}" (click)="queueOverdue('list','applist')">
    <ion-row style="text-align: center;background: #dffcb1e8;margin:0; margin-top:0;height:100px;">
        <ion-col>
          <ion-icon  name="filing" style="font-size: 8.5rem;color:rgb(82, 99, 105);line-height: 0.7;
          padding-top:15px;
          color:#609ffd;margin:0; margin-top:0;
          text-shadow: -1.1px 0 rgb(22, 21, 21), 0 1.1px rgb(41, 36, 61),1.1px 0 rgb(44, 21, 21), 0 -1.1px rgb(32, 1, 31);
       ">
              </ion-icon >
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;height:120px;">
          <!-- <button  class="ionHeader"   [ngClass]="{'green' : q_group}" (click)="queueOverdue('list','applist')"> -->
            <ion-col>
              <p style="font-size: 1.5rem;font-weight:500;">Queue tickets overdue (for  group head / owner)</p>
              <p style="font-size: 1.9rem;font-weight:600;">{{q_group_tkts_overdue}}</p>
              <ion-spinner name="bubbles" [hidden]="q_group_tkts_overduehide"></ion-spinner>
            </ion-col>
          <!-- </button> -->
        </ion-row>
      </button>
</ion-card>
</ion-col>
<ion-col col-4>
<ion-card>
  <button  class="ionHeader"   [ngClass]="{'green' : h_role}" (click)="currentStatus('list','applist')">
    <ion-row style="text-align: center;background: #d2bffd;margin:0; margin-top:0;height:100px;">
        <ion-col>
          <i class="material-icons" style="font-size: 9.0rem;color:rgb(82, 99, 105);line-height: 0.7;padding-top:15px;
          color:#609ffd;margin:0; margin-top:0;
          text-shadow: -1.1px 0 rgb(22, 21, 21), 0 1.1px rgb(41, 36, 61),1.1px 0 rgb(44, 21, 21), 0 -1.1px rgb(32, 1, 31);
       ">
              pause_presentation
              </i>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;height:120px;">
          <!-- <button  class="ionHeader"   [ngClass]="{'green' : h_role}" (click)="currentStatus('list','applist')"> -->
            <ion-col>
              <p style="font-size: 1.5rem;font-weight:500;">Tickets with current stage where I have roles</p>
              <p style="font-size: 1.9rem;font-weight:600;">{{have_role}}</p>
              <ion-spinner name="bubbles" [hidden]="have_rolehide"></ion-spinner>
            </ion-col>
          <!-- </button> -->
        </ion-row>
      </button>
</ion-card>
</ion-col>
<ion-col col-4>
<ion-card>
  <button  class="ionHeader"   [ngClass]="{'green' : u_group}"  (click)="groupOverdue('list','applist')">
    <ion-row style="text-align: center;background: #fcacac;margin:0; margin-top:0;height:100px;">
        <ion-col>
          <i class="material-icons" style="font-size: 9.0rem;color:rgb(82, 99, 105);line-height: 0.7;
          color:#609ffd;margin:0; margin-top:0;padding-top:15px;
          text-shadow: -1.1px 0 rgb(22, 21, 21), 0 1.1px rgb(41, 36, 61),1.1px 0 rgb(44, 21, 21), 0 -1.1px rgb(32, 1, 31);
       ">
              assignment_return
              </i>
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;height:120px;">
          <!-- <button  class="ionHeader"   [ngClass]="{'green' : u_group}"  (click)="groupOverdue('list','applist')"> -->
            <ion-col>
              <p style="font-size: 1.4rem;font-weight:500;" >Overdue tickets (where my group members have roles)</p>
              <p style="font-size: 1.8rem;font-weight:600;">{{user_group_tkts_overdue}}</p>
              <ion-spinner name="bubbles" [hidden]="user_group_tkts_overduehide"></ion-spinner>
            </ion-col>
          <!-- </button> -->
        </ion-row>
      </button>
</ion-card>
</ion-col>
</ion-row>
<div *ngIf="current_status">
  <ion-row id="searchcss" [hidden]="isBrowser">
    <ion-col col-6>
    <ion-item >
        <ion-label>Search By</ion-label>
      <ion-select (ionChange)="searchBy($event)" >
        <ion-option  [value]="1">Title</ion-option>
        <ion-option [value]="2">Issue Number</ion-option>
        <ion-option *ngIf="serialLength>0" [value]="3">Serial Number</ion-option>
        <ion-option [value]="4">Requestor</ion-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col col-5 style="margin-right:10vh;margin-left:10px;" [hidden]="selectedSearch!=1">
        <ion-searchbar placeholder="Search by title" (ionInput)="getItems($event,'1')"></ion-searchbar>
      </ion-col>
   <ion-col col-5 style="margin-right:10vh;margin-left:10px;" [hidden]="selectedSearch!=2">
    <ion-searchbar placeholder="Search by Issue Number" (ionInput)="getItems($event,'2')"></ion-searchbar>
   </ion-col>
   <ion-col col-5 style="margin-right:10vh;margin-left:10px;"  [hidden]="selectedSearch!=3">
      <ion-searchbar placeholder="Search by Serial Number" (ionInput)="getItems($event,'3')" ></ion-searchbar>
  </ion-col>
  <ion-col col-5 style="margin-right:10vh;margin-left:10px;"  [hidden]="selectedSearch!=4">
    <ion-searchbar placeholder="Search by Requestor" (ionInput)="getItems($event,'4')" ></ion-searchbar>
  </ion-col>
  </ion-row>
  <ion-row id="searchcss" [hidden]="!isBrowser">
    <ion-col col-12>
    <ion-item>
        <ion-label>Search By</ion-label>
      <ion-select (ionChange)="searchBy($event)" >
        <ion-option  [value]="1">Title</ion-option>
        <ion-option [value]="2">Issue Number</ion-option>
        <ion-option *ngIf="serialLength>0" [value]="3">Serial Number</ion-option>
        <ion-option [value]="4">Requestor</ion-option>
      </ion-select>
    </ion-item>
    </ion-col>
    <ion-col col-12  [hidden]="selectedSearch!=1">
        <ion-searchbar placeholder="Search by title" (ionInput)="getItems($event,'1')"></ion-searchbar>
      </ion-col>
   <ion-col col-12  [hidden]="selectedSearch!=2">
    <ion-searchbar placeholder="Search by Issue Number" (ionInput)="getItems($event,'2')"></ion-searchbar>
   </ion-col>
   <ion-col col-12   [hidden]="selectedSearch!=3">
      <ion-searchbar placeholder="Search by Serial Number" (ionInput)="getItems($event,'3')" ></ion-searchbar>
  </ion-col>
  <ion-col col-12   [hidden]="selectedSearch!=4">
    <ion-searchbar placeholder="Search by Requestor" (ionInput)="getItems($event,'4')" ></ion-searchbar>
  </ion-col>
	</ion-row>
<ion-list [hidden]="!isBrowser" id="applist">
<ion-list *ngFor="let issue of itemsApp" class="listElement">
  <ion-row >
    <ion-col col-2 >
      <ion-item  no-lines >
        <button  [disabled]="takeDisabled(issue)" [ngStyle]="{'color':takeColor(issue)}" (click)="takeIssue($event,issue)">
          <ion-icon style="font-size: 220%;" name="md-exit"></ion-icon>
        </button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item style="float: left;" no-lines>
       <button  class="customClass" [ngStyle]="{'color':getcolor(issue.xdata2.priority)}" (click)="viewDetail($event,issue)">
          {{issue.issue_number}}</button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item style="float: left;" text-wrap no-lines>
        <button style="background: 0;" (click)="viewDetail($event,issue)">
        <p style="color:#3385ff;padding-bottom:1%;font-size: 1.2rem;text-align: left;">{{issue.title}} </p>
        <p style="font-size: 70%;text-align: left;">{{issue.requestor}}</p></button>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-list>
</ion-list>
<ion-list [hidden]="isBrowser" id="list">
<mat-table #table [dataSource]="dataSource"  class="mat-elevation-z8" matSort style="margin-left: -10px;margin-right:-15px;">

  <!-- Position Column -->
  <ng-container matColumnDef="take">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: 5px;"> Take</mat-header-cell>
      <mat-cell *matCellDef="let element">
         <label title="Take">
         <button [disabled]="takeDisabled(element)" style="float: left; background-color: white;"
         [ngStyle]="{'color':takeColor(element)}" (click)="takeIssue($event,element)">
          <ion-icon style="font-size: 240%;" name="md-exit">
          </ion-icon>
        </button></label>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="unit_sr_no">
    <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="serialLength<=0">Serial Number</mat-header-cell>
    <mat-cell *matCellDef="let element" [hidden]="serialLength<=0" > {{element.xdata2.unit_sr_no}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="issue_number">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Issue Number</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.issue_number}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="q_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>  Queue Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.q_name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="created_on">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Created On <!--br>& By --> </mat-header-cell>
    <mat-cell *matCellDef="let element" > {{element.created_on|date}} <!--br>{{element.created_by}}--></mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="status_desc" style="margin-left:5px;">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left:5px;"> Stage </mat-header-cell>
    <mat-cell *matCellDef="let element" style="margin-left:5px;"> {{element.status_desc}} </mat-cell>
  </ng-container>

      <!-- Name Column -->
  <ng-container matColumnDef="assignee_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned To </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.assignee_name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="requestor">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Requestor</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.requestor}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tkt_type">
    <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="typeLen<=0"> Type </mat-header-cell>
    <mat-cell *matCellDef="let element" [hidden]="typeLen<=0"> {{element.tkt_type}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="up_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last updated on </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{lastupdateToLocal(element.up_date)}} </mat-cell>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="priority">
    <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="priorityLen<=0" style="margin-left:-5px;"> Priority </mat-header-cell>
    <mat-cell *matCellDef="let element"  [hidden]="priorityLen<=0"> {{element.xdata2.priority}} </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewDetail($event,row)" ></mat-row>
</mat-table>
<mat-paginator #paginator
               [pageSize]="20"
               [pageSizeOptions]="[20]"
               [showFirstLastButtons]="true">
</mat-paginator>
</ion-list>
</div>
</ion-content>
