page-dashboard {
	.row{
		background-color: white;

	}
	.card-md p{
		color:blue;
	}
	 .ion-spinner{
	  	width: 28px;
	  	height: 28px;
	  	stroke: #444;
	  	fill: #222;
	}
	.issue{
		text-align: center;
	}
	.searchbar{
	    background: inherit;
	    padding:0px;
	    margin-bottom: 5%;
	}
	.row{
	    padding-top: 1%;
	    padding-bottom: 1%;
	}
	.label{
		margin:0px;
	}
	.fontNew{
		margin-top: -15px;
		margin-bottom: -15px;
		color: rgb(150, 143, 252);
		text-shadow: -1.1px 0 rgb(22, 21, 21), 0 1.1px rgb(41, 36, 61),1.1px 0 rgb(44, 21, 21), 0 -1.1px rgb(32, 1, 31);
		font-size:2.0rem;
		text-align: center;
	}
	.ion-card-header {
		text-overflow: inherit;
	}
	.listElement{
		margin-left:-25px;
		border-bottom: 1px solid rgb(99, 212, 247);
	}
	.ionHeader{
		background: none;
		border:0;
		white-space: normal;
    width:100%;
    padding: 1px 1px 0px 1px;
	}
	#searchcss{
		background-color: white;
    	border: 0px;
	}

	.ion-spinner{
	  	width: 28px;
	  	height: 28px;
	  	stroke: #444;
	  	fill: #222;
	}
	.col{
	   	padding: 0;
	}
	.loading{
		width:10px;
		height:10px;
	}
	.createRow{
	    padding-top: 2%;
	    padding-bottom: 1%;
		border-bottom: 0px #a6dbf5 solid;
	}
	.customClass{
		font-size:1.1rem;
		background: 0;
		text-align: left;
	}
	ion-avatar, ion-thumbnail {
		 display: inline;
	}
	.cdk-overlay-pane{
	    min-width: 56px;
    pointer-events: auto;
    font-size: 14px;
    bottom: 17.0625px;
    left: 945.5px;
    position: absolute;
	}

#cdk-overlay-0{
    opacity:0;
    position: absolute !important;
    z-index: 1000;
    background: aliceblue;
}
.mat-select-panel{
	background: rgba(255,255,255,1) !important;
}

.mat-column-unit_sr_no{
    flex: 0 0 7%;
    overflow: hidden;
}
.mat-column-issue_number{
    flex: 0 0 12%;
    overflow: hidden;
}
.mat-column-q_name{
    flex: 0 0 10%;
	overflow: hidden;;
}
.mat-column-title{
    flex: 0 0 10%;
    overflow: hidden;
}
.mat-column-created_on{
    flex: 0 0 8.5%;
    overflow: hidden;
}
.mat-column-status_desc{
    flex: 0 0 8%;
    overflow: hidden;
}
.mat-column-assignee_name{
    flex: 0 0 9%;
    overflow: hidden;
}
.mat-column-requestor{
    flex: 0 0 10%;
    overflow: hidden;
}
.mat-column-tkt_type{
    flex: 0 0 8%;
    overflow: hidden;
}
.mat-column-up_date{
    flex: 0 0 10%;
    overflow: hidden;
}
.mat-column-priority{
    flex: 0 0 5%;
	overflow: hidden;
	margin-left:7px;
}
.mat-header-row {
	background: linear-gradient(90deg, rgb(253, 220, 216) 0%, rgb(214, 255, 239) 35%, rgb(236, 255, 211) 100%);
	position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.mat-column-take{
    flex: 0 0 4%;
	overflow: hidden;
}
.mat-header-row, .mat-row {

    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: left;
	box-sizing: border-box;
	padding-left:0;

}
.green {
	background: rgb(255, 255, 252);
	text-decoration: underline;
	color:rgb(131, 121, 75);
	border:2px solid rgb(12, 12, 12);
}
table{width:100%;}
}
.example-container {
  	display: flex;
  	flex-direction: column;
  	min-width: 300px;
}
.snackbar{
		width:100%;

		text-align:center;
		position: fixed;
		background-color: rgb(20, 20, 20);
		top: 90%;
		left:30%;
		font-weight:600;
		font-size: 2.0rem;
		color:rgb(255, 255, 255);

}
@media only screen and (max-width: 58.75rem){
    .snackbar{
      left:0;
    }
  }
  @media only screen and (max-width: 33.68rem){

    .snackbar{
		left:0;
	  }

  }
  @media only screen and (max-width: 15.00rem){
	.snackbar{
		left:0;
	  }
  }
.mat-table {
	font-size: 1.35rem;
   	overflow: auto;
  	max-height: 500px;
}
