page-reports {
	.text-input-md{margin:0;}
	ion-label{
		font-size: 90%;
	}
	.checkbox-md .checkbox-checked {
		border-color: #87b9fa;
		background-color: #87b9fa;
	}
	.button-md {
		background: linear-gradient(90deg, rgb(171, 197, 252) 0%, rgb(208, 232, 248) 35%, rgb(139, 179, 252) 100%);
		font-weight: 500;
		font-size: 1.6rem;
	}
	#customRow{
		background-color: white;
		border-bottom: 1px #b2fde7 solid;
	    background:linear-gradient(90deg, rgb(255, 230, 223) 0%, rgb(219, 255, 237) 35%, rgb(253, 253, 215) 100%);;
	    border-radius: 5px;
	    color: black;
	    text-align:left;
	}
	.rowCustom{
	    text-align:left;
	    padding-top: 1.5%;
	    padding-bottom: 1%;
		border-bottom: 1px #90d1fc solid;
		border-radius: 5px;
		margin-left:-24px;
		margin-right:-24px;
		margin-top:-11px;
	}
	.rowcss{
		text-align:canter;
	}
}
.picker-wrapper{
	top:-40%;
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
  font-size: 14px;
  color:royalblue;
  
}
.picker-md .picker-opt {
    font-size: 18px;
	font-family: Montserrat-Light;
}

@media only screen and (max-width: 58.75rem){
	.rowCustom{
		word-break: break-all;
		font-size: 1.0rem;
	}
  }

.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt .picker-opt-selected{
	color: rgb(106, 68, 211);
}