@import 'node_modules/pretty-checkbox/src/pretty-checkbox.scss';
page-edit-issue {
.content{
    color: #ffffff;
    background-color: #1d1d1d;
}
#create{ width: 25%;
color:white;
}
.item{
    color: #000;
    background-color: #fff;
}
.item p {
    color: #ec7373;
}
.button-md {
    background: linear-gradient(90deg, rgb(167, 194, 252) 0%, rgb(193, 148, 245) 35%, rgb(106, 157, 252) 100%);;
    font-weight: 500;
    font-size: 1.6rem;
}
#text{
    background-image: url("https://3.bp.blogspot.com/-4oAWWCcNNz4/Tjr3nKNyVUI/AAAAAAAAPLU/Pouua-pNsEY/s1600/sq.gif");    
    width: 252.5px;
    height: 22px;
    background-size: 21px;
    border: none;
    font-size: 15px;
    padding-left: 7px;
    letter-spacing: 12px;
}
.card{
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 1px 2px 8px 0px rgba(51, 133, 255, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
.my-class .alert-wrapper {
    max-width: 94% !important;
}
@media only screen and (max-width: 58.75rem){
    .Head3{
        text-align:left;
        font-size:1.5rem;
    }
  }
}