page-use-url {
    #text{
        background-image: url("http://3.bp.blogspot.com/-4oAWWCcNNz4/Tjr3nKNyVUI/AAAAAAAAPLU/Pouua-pNsEY/s1600/sq.gif");    
        width: 252.5px;
        height: 21.5px;
        background-size: 21px;
        border: none;
        font-family: monospace;
        font-size: 15px;
        padding-left: 8px;
        letter-spacing: 12px;
    }

}
