page-create-request {
.content{
    color: #ffffff;
    background-color: #1d1d1d;
}
#create{ width: 25%;
color:white;
}


.item p {
    color: #ec7373;
}
.button-md {
    background: linear-gradient(90deg, rgb(167, 194, 252) 0%, rgb(193, 148, 245) 35%, rgb(106, 157, 252) 100%);;
    font-weight: 500;
    font-size: 1.6rem;
}
.card{
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 1px 2px 8px 0px rgba(51, 133, 255, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #19582c;
    -webkit-box-shadow: inset 0 -1px 0 0 #206936;
    box-shadow: inset 0 -1px 0 0 #97ffb5;
}
#text{
    background-image: url("https://3.bp.blogspot.com/-4oAWWCcNNz4/Tjr3nKNyVUI/AAAAAAAAPLU/Pouua-pNsEY/s1600/sq.gif");    
    width: 252.5px;
    height: 22px;
    background-size: 21px;
    border: none;
    font-size: 15px;
    padding-left: 7px;
    letter-spacing: 12px;
}
}
ion-modal {
    margin-left: 25%;
    margin-top:10%;
    left: 0;
    top: 0;
    border-bottom: #111111;
    position: absolute;
    display: block;
    width: 50%;
    height: 70%;
    contain: strict;
}
